@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    user-select: none;
}

body { 
    background: linear-gradient(to top right, #0d1321, #0d1321be), url(Assets/BG.png);
    width: 100%;
    height: 100vh;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
    animation: bg 35s infinite alternate;
}

@keyframes bg {
    from{
        background-position: left;
    }

    to {
        background-position: right;
    }
}

ul li {
    list-style: none;
}

a {
    color: #fcfcfc;
    text-decoration: none;
    font-size: 16px;
}

h1, h2, h3, h4 {
    color: #fcfcfc;
    font-weight: 600;
}

h1 {
    font-size: 64px;
    text-transform: uppercase;
}

p {
    color: #fcfcfc70;
    font-size: 16px;
}

@media (max-width: 992px) {
    body {
        animation: bg 45s infinite alternate;
    }
}

/*----------------SCROLL-UP----------------*/

#progress {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #0d1321;
    background: #fcfcfc;
    position: fixed;
    bottom: 200px;
    right: 144px;
    height: 60px;
    width: 60px;
    border-radius: 999px;
    z-index: 999;
    transition: 0.4s;
}

#progress:hover {
    transform: scale(1.2);
}

#progress-value {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #31e981;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    border-radius: 999px;
    font-size: 24px;
}

#progress-value i {
    display: flex;
    transition: 0.4s;
}

#progress:hover #progress-value i {
    transform: translateY(-6px);
}

@media (max-width: 1920px) {
    #progress {
        bottom: 72px;
    }
}

@media (max-width: 1180px) {
    #progress {
        bottom: 72px;
        right: 72px;
    }

    #progress:hover {
        transform: scale(1);
    }

    #progress:hover #progress-value i {
        transform: translateY(0px);
    }
}

@media (max-width: 992px) {
    #progress {
        right: 60px;
    }

    #progress:hover #progress-value i {
        transform: translateY(0px);
    }
}

@media (max-width: 480px) {
    #progress {
        right: 24px;
    }
}

/*----------------HEADER----------------*/

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10vh;
    padding: 0 144px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.logo {
    font-size: 24px;
}

#menu-icon {
    color: #fcfcfc;
    font-size: 24px;
    transition: 0.4s;
}

#menu-icon:hover {
    transform: scale(1.2);
    color: #31e981;
}

#menu-icon:active {
    transform: scale(1);
}

#menu-icon, #close-icon {
    cursor: pointer;
    padding: 2px;
    display: none;
}

.navbar {
    display: flex;
    gap: 60px;
    transition: 0.7s;
}

.navbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #31e98100;
    padding: 4px 0;
    transition: 0.4s;
}

.navbar a:hover {
    transform: translate(0px,-6px);
    color: #31e981;
}

.navbar a::after {
    content: '';
    position: absolute;
    background: #31e981;
    height: 1px;
    width: 0%;
    bottom: 0;
    transition: 0.4s;
}

.navbar a:hover::after {
    width: 100%;
}

@media (max-width: 1180px) {
    header {
        padding: 0 72px;
    }

    .logo {
        font-size: 20px;
    }

    #menu-icon {
        display: block;
        top: 0;
    }

    .navbar {
        flex-direction: column;
        align-items: left;
        position: absolute;
        top: 0;
        right: -50%;
        background: #0d132199;
        backdrop-filter: blur(5px);
        width: 50%;
        height: 100vh;
        padding-top: 20%;
        padding-left: 8%;
        z-index: 999;
    }

    .navbar a {
        width: fit-content;
    }

    .navbar #close-icon {
        display: block;
        color: #fcfcfc;
        font-size: 24px;
        position: absolute;
        top: 28px;
        right: 70px;
        transition: 0.4s;
    }

    .navbar #close-icon:hover {
        transform: scale(1.2);
        color: #31e981;
    }

    .navbar #close-icon:active {
        transform: scale(1);
    }
}

@media (max-width: 992px) {
    header {
        padding: 0 60px;
    }

    .logo {
        font-size: 16px;
    }

    .navbar #close-icon {
        top: 54px;
        right: 58px;
    }
    
}

@media (max-width: 480px) {
    header {
        padding: 0 24px;
    }

    .navbar {
        padding-top: 30%;
    }

    .navbar a {
        font-size: 14px;
    }

    .navbar #close-icon {
        top: 28px;
        right: 24px;
    }
}

/*----------------HOMEPAGE----------------*/

.homepage {
    width: 100%;
    height: 100vh;
    position: relative;
}

.homepage-cont {
    position: absolute;
    bottom: 200px;
    left: 144px;
}

.hero-text {
    text-transform: uppercase;
}

.hero-text p:not(:last-child) {
    width: max-content;
    padding: 16px 32px;
    color: #31e981;
    margin-bottom: 36px;
    background: #fcfcfc08;
    backdrop-filter: blur(5px);
}

.hero-text p:last-child {
    color: #fcfcfc70;
    text-transform: none;
    background: transparent;
    margin-top: 36px;
    max-width: 80%;
}

.sm-cont {
    display: flex;
    gap: 40px;
}

.sm-cont span {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 999px;
    color: #31e981;
    font-size: 24px;
    margin-top: 60px;
    cursor: pointer;
    background: #fcfcfc08;
    backdrop-filter: blur(5px);
    transition: 0.7s;
    z-index: 1;
}

.sm-cont span:hover {
    transform: scale(1.2);
}

.sm-cont span:active {
    transform: scale(1);
}

.sm-cont span:hover i {
    color: #0d1321;
    transform: translateY(-300%);
}

.sm-cont span i {
    margin: 24px;
    transition: 1s;
}

.sm-cont span::before {
    content: '';
    background: #31e981;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    border-radius: 999px;
    transition: 1s;
    z-index: -1;
} 

.sm-cont span:hover::before {
    transform: scale(1);
}

.sm-bg {
    background: #31e98190;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    transform: scale(0);
    z-index: -2;
    transition: 0.4s;
}

.sm-cont span:hover .sm-bg {
    transform: scale(1);
}

.hover-fx {
    position: absolute;
    color: #fcfcfc;
    transform: translateY(300%);
}

.sm-cont span:hover .hover-fx {
    transform: translateY(0);
}

.button-cont {
    display: flex;
    align-items: flex-end;
    gap: 60px;
    margin-top: 16%;
}

.cta-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden; 
    padding: 16px 32px;
    min-width: 200px;
    height: fit-content;
    color: #0d1321;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background: #31e981;
    transition: 0.7s;
    z-index: 1;
}

.cta-btn::before {
    content: '';
    background: #fcfcfc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    transform: scale(0);
    z-index: -1;
    transition: 1s;
}

.cta-btn:hover::before {
    transform: scale(1.2);
}

.btn-bg {
    background: #fcfcfc90;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    transform: scale(0);
    z-index: -2;
    transition: 0.5s;
}

.cta-btn:hover .btn-bg,
.sec-btn:hover .btn-bg {
    transform: scale(1.2);
}

.btn-text {
    margin-right: -10%;
    transition: 0.7s;
}

.cta-btn:hover .btn-text {
    margin-right: 12px;
}

.cta-btn i {
    opacity: 0;
    transition: 0.7s;
}

.cta-btn:hover i {
    opacity: 1;
}

.sec-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden; 
    padding: 16px 32px;
    min-width: 200px;
    height: fit-content;
    color: #fcfcfc;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background: transparent;
    box-shadow: 0px 0px 0px 1px #fcfcfc inset;
    transition: 0.4s;
    z-index: 1;
}

.sec-btn i {
    color: #0d1321;
}

.sec-btn:hover {
    color: #0d1321;
}

.sec-btn::before {
    content: '';
    background: #fcfcfc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    transform: scale(0);
    z-index: -1;
    transition: 1s;
}

.sec-btn:hover::before {
    transform: scale(1.2);
}

.btn-text {
    margin-right: -10%;
}

.sec-btn:hover .btn-text {
    margin-right: 12px;
}

.sec-btn i {
    opacity: 0;
    transition: 0.7s;
}

.sec-btn:hover i {
    opacity: 1;
}

@media (max-width: 1920px) {
    .homepage-cont {
        bottom: 100px;
    }

    .hero-text h1 {
        font-size: 40px;
    }

    .hero-text p:not(:last-child),
    .hero-text p:last-child {
        font-size: 14px;
    }

    .sm-cont span {
        font-size: 18px;
    }

    .button-cont {
        margin-top: 14%;
    }

    .cta-btn,
    .sec-btn {
        font-size: 14px;
    }
}

@media (max-width: 1180px) {
    .homepage-cont {
        left: 72px;
        right: 72px;
        bottom: 72px;
    }

    .hero-text h1 {
        font-size: 42px;
    }

    .sm-cont span {
        font-size: 20px;
    }

    .button-cont {
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 36px;
        margin-top: 10%;
    }

    .cta-btn,
    .sec-btn {
        width: 100%;
    }
}

@media (max-width: 992px) {

    .homepage-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 60px;
        right: 60px;
        bottom: 72px;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-text h1 {
        font-size: 42px;
        text-align: center;
    }

    .hero-text p:not(:last-child),
    .hero-text p:last-child {
        font-size: 14px;
    }

    .hero-text p:last-child {
        text-align: center;
        max-width: 100%;
    }

    .sm-cont span {
        font-size: 20px;
    }

    .button-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 36px;
        margin-top: 36%;
    }

    .cta-btn,
    .sec-btn {
        min-width: 100%;
    }

    #progress:active {
        transform: scale(1.2);
    }

    .sm-cont span:active .sm-bg {
        transform: scale(1);
    }
    .sm-cont span:active .hover-fx {
        transform: translateY(0);
    }

    .sec-btn:active {
        color: #0d1321;
    }

    .sec-btn:active::before {
        transform: scale(1.2);
    }

    .sec-btn:active i {
        margin-left: 12px;
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .homepage-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 72px;
        left: 24px;
        right: 24px;
    
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-text h1 {
        font-size: 24px;
        text-align: center;
    }

    .hero-text p:not(:last-child) {
        font-size: 14px;
        text-align: center;
        width:fit-content;
    }

    .hero-text p:last-child {
        font-size: 14px;
        text-align: center;
        max-width: 100%;
    }

    .sm-cont {
        gap: 24px;
    }

    .sm-cont span {
        font-size: 14px;
        margin-top: 36px;
    }

    .sm-cont span i {
        margin: 14px;
    }

    .button-cont {
        gap: 24px;
        margin-top: 24%;
    }

    .cta-btn,
    .sec-btn {
        font-size: 14px;
        padding: 12px 24px;
    }
}

/*----------------PROJECTS----------------*/

.project-cards-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-card {
    display: flex;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    aspect-ratio: 16/9;
}

.imad {
    width: 100%;
    background: url(Assets/Projects/iMAD.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.dupamicaffeine {
    width: 100%;
    background: url(Assets/Projects/Dupamicaffeine.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.tijltil-gamers {
    width: 100%;
    background: url(Assets/Projects/TiJLTiL-Gamers.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.dsw {
    width: 100%;
    background: url(Assets/Projects/DSW.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.project-card h2 {
    position: absolute;
    bottom: 100px;
    left: 100px;
    font-size: 28px;
    z-index: 3;
}

.project-card span {
    font-size: 28px;
    font-weight: 200;
    color: #fcfcfc;
    z-index: 3;
}

.project-card .overly {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top right, #00000030, #00000000), #00000050;
    left: 0;
    top: 0;
    z-index: 2;
    transition: 0.7s ease-in-out;
}

.project-card:hover .overly {
    opacity: 1;
}

.project-card .imad,
.project-card .dupamicaffeine,
.project-card .tijltil-gamers,
.project-card .dsw {
    transition: 0.7s;
}

.project-card:hover .imad,
.project-card:hover .dupamicaffeine,
.project-card:hover .tijltil-gamers,
.project-card:hover .dsw {
    transform: scale(1.1);
}

@media (max-width: 1920px) {
    .project-card h2 {
        bottom: 48px;
        left: 60px;
    }
}

@media (max-width: 1180px) {
    .project-cards-cont {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 992px) {
    .project-cards-cont {
        grid-template-columns: 1fr;
    }

    .project-card h2 {
        font-size: 28px;
        padding: 36px 60px;
    }

    .project-card p {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .project-card h2 {
        font-size: 24px;
        padding: 24px 24px;
        display: none;
    }

    .project-card p {
        font-size: 10px;
        display: none;
    }
}
